/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.btn{
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
}

.btn:hover{
    -fx-opacity: .8;
}

.atras{
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.tab-header-background {
    -fx-background-color: #43a047;
}