.log{
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-color:  #388e3c;
}

.log2{
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.logout{
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-color:  #ffffff;
}


.scroll-pane {
    -fx-background-color:transparent;
}