/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.btn{
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}

.backPane{
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}

